.landing-page{
  position: relative;
  width: 100%;
}
#landing-page-image{
  width: 100%;
}
.header{
  position: absolute;
  top: 30%;
  left: 30.1%;
}
.image{
  padding-top: 8.3rem;
}
.about-us{
  padding: 3rem 2rem;
}
.services{
  position: relative;
}
.services img{
  width: 100%;
}
.service-description{
  position: absolute;
  top: 30%;
}